# Environment we need *on top* of base PANGEO stack
# Get list of pangeo packages from https://github.com/pangeo-data/pangeo-docker-images/blob/master/pangeo-notebook/packages.txt
# BUT REMEMBER TO PICK THE HASH THAT CORRESPONDS TO OUR BASE IMAGE
channels:
  - conda-forge

dependencies:
  # Packages required for image
  - jupyter_contrib_nbextensions==0.5.1

  # Packages required by COESSING
  - ecco_v4_py
  - pyproj
  - pythia-datasets
  - ffmpeg
  - sqlalchemy<1.4
  - graphviz
  - jupyterlab-language-pack-fr-FR
  - pydub 0.25.1
  - xroms
